body {
    background:url(aa.avif);
    background:cover;
    background-repeat: no-repeat;
    background-color: rgba(56, 80, 50, 0.281);
}
nav{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100s;
    font-size: 25px;
    align-items: center;
    color: black;
}
.Container a {
text-decoration: none;
padding: 20px 30px;
color: #000;
}
.register a{
    text-decoration: none;
    border-radius: 8px;
    background-color: indianred;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffff;
}
.Text a{
    text-decoration: none;
    color: #ffff;
    border-radius: 6px;
    font-size: 20px;
    background: indianred;
    padding: 5px 10px;
    text-align: center;
    align-items: center;
  

}
.Text a:hover{
    background: transparent;
}.Text{
    position: absolute;
    top: 30%;
    left: 10%;
    max-width: 650px;
}
.Text span {
    font-size: 50px;
    margin-bottom: 40px;
}
.Text h1{
    font-size: 1.2em;
    margin-bottom: 20px;
}